@import "tailwindcss";

@font-face {
    font-family: 'Seasons'; /* Name of the font */
    src: url('/fonts/Seasons-Regular.otf') format('opentype'); /* Use 'opentype' for .otf files */
    font-weight: normal; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}